<RCC>
    <qresource prefix="/Samples/%{SampleCategory}/%{SampleName}">
        <file alias="sample.json">README.metadata.json</file>
        <file>%{SampleName}.qml</file>
        <file>screenshot.png</file>
        <file>README.md</file>
    </qresource>
</RCC>
