{
    "category": "TODO",
    "description": "TODO",
    "featured": false,
    "ignore": false,
    "images": [
        "screenshot.png"
    ],
    "keywords": [
        "TODO"
    ],
    "redirect_from": "",
    "relevant_apis": [
        "TODO"
    ],
    "snippets": [
        "%{SampleName}.cpp",
        "%{SampleName}.h",
        "%{SampleName}.qml"
    ],
    "title": "%{DisplayName}"
}
