<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Qt Samples</string>
    <key>CFBundleExecutable</key>
    <string>ArcGISQt_Samples</string>
    <key>CFBundleGetInfoString</key>
    <string>ArcGIS</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>iOS_29.png</string>
                <string>iOS_40.png</string>
                <string>iOS_58-1.png</string>
                <string>iOS_58.png</string>
                <string>iOS_76.png</string>
                <string>iOS_80-1.png</string>
                <string>iOS_80.png</string>
                <string>iOS_87.png</string>
                <string>iOS_120.png</string>
                <string>iOS_120-1.png</string>
                <string>iOS_152.png</string>
                <string>iOS_167.png</string>
                <string>iOS_180.png</string>
            </array>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>iOS_29.png</string>
                <string>iOS_40.png</string>
                <string>iOS_58-1.png</string>
                <string>iOS_58.png</string>
                <string>iOS_76.png</string>
                <string>iOS_80-1.png</string>
                <string>iOS_80.png</string>
                <string>iOS_87.png</string>
                <string>iOS_120.png</string>
                <string>iOS_120-1.png</string>
                <string>iOS_152.png</string>
                <string>iOS_167.png</string>
                <string>iOS_180.png</string>
            </array>
        </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NOTE</key>
    <string>C++ Samples App</string>
    <key>UIFileSharingEnabled</key>
    <string>YES</string>
    <key>UIRequiresPersistentWiFi</key>
    <string>NO</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location required for application</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location required for application</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string></string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Bluetooth access is required for Indoor Positioning</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
</dict>
</plist>
